/* ==========================================================================
   PRETTIER LINKS
   ========================================================================== */

a {
  transition:         color .3s ease-in-out;
}

a:link    { color: lighten(blue, 50%); }
a:visited { color: lighten(blue, 50%); }
a:hover   { color: blue; }
a:active  { color: orange; }

