
.icon-github:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-headphones:before { content: '\e800'; } /* '' */
.icon-fivehundredpx:before { content: '\e803'; } /* '' */
.icon-flickr:before { content: '\e804'; } /* '' */
.icon-rss:before { content: '\e807'; } /* '' */
.icon-stackoverflow:before { content: '\e806'; } /* '' */