<%- partial('_partial/head') %>
<body <% if (!path) { %>class="homepage"<% } %>>
  <div class="container">
  <%- partial('_partial/header') %>
  <section class="main"><%- body %></section>
  <%- partial('_partial/footer') %>
  </div>
</body>
</html>