<footer class="footer">
  <span class="f-left power">Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></span>
  <span class="copy">&copy;<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></span>
  <span class="f-right">
    <a class="icon icon-github" href="http://github.com/hulufei"></a>
    <a class="icon icon-fivehundredpx" href="http://500px.com/hulufei"></a>
    <a class="icon icon-flickr" href="https://www.flickr.com/photos/hulufei"></a>
    <a class="icon icon-headphones" href="http://www.xiami.com/u/723031"></a>
    <a class="icon icon-twitter" href="https://twitter.com/hulufei"></a>
    <a class="icon icon-mail" href="mailto:xx@gmail.com"></a>
  </span>
</footer>
