<header class="header">
  <span class="animate">
    <a class="circle" href="/">
      <img class="avatar" src="<%- gravatar('hulufei@outlook.com') %>" alt="@hulufei">
    </a>
    <a class="icon icon-github" href="#"></a>
    <a class="icon icon-fivehundredpx" href="#"></a>
    <a class="icon icon-headphones" href="#"></a>
    <a class="icon icon-twitter" href="#"></a>
  </span>
  <a class="icon-rss" href="#"></a>
</header>
